[core]
    editor = v
    excludesfile = ~/.gitexcludes
    abbrev = 12
[user]
    name = Tuomas Tynkkynen
    email = tuomas.tynkkynen@iki.fi
[color]
    ui = auto
    status = auto
    branch = auto
[alias]
    st = status
    br = branch
    co = checkout
    ls = ls-files

    puff = pull --ff-only
    purr = pull --rebase

    current-branch = rev-parse --abbrev-ref HEAD
    root = rev-parse --show-toplevel

    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lolv = log --color --graph --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[grep]
    lineNumber = true
    patternType = perl
[am]
    threeWay = true
[merge]
    keepBackup = false
[commit]
    verbose = 1
[log]
    follow = true
    date = format:%a %Y-%m-%d %H:%M:%S
[format]
    pretty = %C(yellow)%C(bold)Commit: %H%C(auto)%d%n%C(green)%ad %an <%ae>%n%w(0,4,4)%C(bold)%s%n%+b
[interactive]
    singleKey = true
[stash]
    showPatch = true
[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = dezgeg@gmail.com
[push]
    default = simple
[rebase]
    autostash = true
    abbreviateCommands = true
[github]
    user = dezgeg
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
