[core]
    editor = vim
    excludesfile = ~/.gitexcludes
[user]
    name = Tuomas Tynkkynen
    email = dezgeg@gmail.com
[color]
    ui = auto
    status = auto
    branch = auto
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    puff = pull --ff-only
    purr = pull --rebase
