" Dvorak homerow
" Keep t/T as 'till char' in visual/operator-pending mode
no d h
no h j
nnoremap t k
vnoremap t k
no n l

" Shifted Dvorak homerow navigation
no D <Nop>
no H 8<Down>
nnoremap T 8<Up>
vnoremap T 8<Up>
no N <C-w><C-w>

" Remap useful keys lost by Dvorak binds
no j d
no l n
no L N

no Q <Nop>

" F1 = goto last edit
no  <F1> `.
ino <F1> <Nop>
" F2 = goto last exit
no  <F2> `"
ino <F2> <Nop>

no <C-S> :wa<CR>
no <C-Q> :q<CR>

set showmode
set incsearch hlsearch
set ignorecase infercase smartcase
set number
set clipboard=unnamed

" Free keys: M s S k K = + Q Z
" Maybe free: D C R U X z
