source ~/dotfiles/vim/binds-dvorak.vim
source ~/dotfiles/vim/binds-misc.vim
source ~/dotfiles/vim/global-settings.vim

noremap <C-d> gT
noremap <C-n> gt

" Defaults in modern vim
set showmode
set incsearch hlsearch

set clipboard=unnamed
