$include /etc/inputrc
set bind-tty-special-chars off
set colored-completion-prefix on
set colored-stats on
set enable-bracketed-paste on
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on

# Alt-DHTN: vim cursor navigation
"\ed": backward-char
"\eh": next-history
"\et": previous-history
"\en": forward-char

# Alt-B, Alt-W: navigate by word
"\eb": backward-word
"\ew": forward-word

# Ctrl-BS: kill word
"\C-h": backward-kill-word
# Alt: kill shell word (bigger!)
"\e\C-?": shell-backward-kill-word

# Unbind keys that delete/paste stuff
"\C-k": nop
"\C-y": nop
"\ey": nop

# Undo to better place
"\C-u": undo
